* {
    margin: 0;
    padding: 0;  
   
}

header h1{
    
    margin-left: 10px;
    margin-right: 10px;
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Inconsolata', monospace;
    text-align: center;
}

#symbol{
    color: red;
}

.option-div{
    width: 20%;
    margin-left: 10px;
    
    
}

.heading {
    width: 30%;
    box-shadow: 0 -5px 3px -3px black, 0 5px 3px -3px ;
    font-family: 'Inconsolata', monospace;
    color: black;
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {
    .heading {
      width: 80%;
    }
  }



.options{
    margin-top: 15px;
    margin-left: 10px;
   
    width: 50%;
    
    margin-bottom: 5px;
    
    
   
}

@media only screen and (max-width: 600px) {
    .options {
      display: flex;
    }
  }


.button{
    
    font-family: 'Inconsolata', monospace;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 20px;
    /* box-shadow: 0 0 10px 5px; */
    box-shadow: -5px -5px 10px;
  
  display: inline-block;
  height: 40px;
  width: 90px;
  border-radius: 5px;

}

@media only screen and (max-width: 600px) {
    .button {
        height:41px;
        max-width:136px;
        display:inline-block;
        padding:2px 7px;
        margin-right:16px;

    }
  }
.button:hover{
    
    /* background-color: wheat; */
    border-bottom: 2px solid rgb(252, 3, 3);
    border-radius: 0;
    
}

.textbox{
    width: 90vw;
}

#editorBox{
    margin-bottom: 10px;
    border-radius: 10px ;
    font-size: 20px;
    padding: 5px;
    box-shadow: 0 0 10px;
    
    margin-left: 10px;
    height: 50vh;
    /* width:90vw ; all good */
    resize: none;
    outline: none;
    width: calc(100vw - 10% - 1px);
    
  
    
}

#editorBox:hover{
    border: 2px solid rgb(12, 5, 5);
}


/* for media query
width: calc(100vw - 10% - 1px); */

.outputblock{
   
    padding: 5px;
    
    margin-left: 10px;
    
    
    
}












